include MANIFEST.in
include DecisionTree.py
include setup.py
include Makefile
include README
include DecisionTree-2.2.1.html
include TestDecisionTree/DecisionTree.py
include TestDecisionTree/TestBestFeatureCalculation.py
include TestDecisionTree/TestDecisionTreeClassification.py
include TestDecisionTree/TestDecisionTreeInduction.py
include TestDecisionTree/TestEntropyCalculation.py
include TestDecisionTree/TestProbabilityCalculation.py
include TestDecisionTree/Test.py
include TestDecisionTree/testdata.dat
include TestDecisionTree/training.dat
include Examples/DecisionTree.py
include Examples/classify_by_asking_questions.py
include Examples/classify_test_data_in_a_file.py
include Examples/construct_dt_and_classify_one_sample_case1.py
include Examples/construct_dt_and_classify_one_sample_case2.py
include Examples/construct_dt_and_classify_one_sample_case3.py
include Examples/construct_dt_and_classify_one_sample_case4.py
include Examples/evaluate_training_data1.py
include Examples/evaluate_training_data2.py
include Examples/generate_test_data_symbolic.py
include Examples/generate_training_data_numeric.py
include Examples/generate_training_data_symbolic.py
include Examples/param_numeric.txt
include Examples/param_numeric_strongly_overlapping_classes.txt
include Examples/param_numeric_extremely_overlapping_classes.txt
include Examples/param_symbolic.txt
include Examples/README
include Examples/README_for_dat_files
include Examples/README_for_CSV_files
include Examples/stage3cancer.csv
include Examples/testdata_classlabels.dat
include Examples/testdata.dat
include Examples/training.csv
include Examples/training2.csv
include Examples/training3.csv
include Examples/training.dat
